version: "3.9"
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123        
      MYSQL_DATABASE: jobber_auth        
      MYSQL_USER: jobber                  
      MYSQL_PASSWORD: jobber123           
    ports:
      - "3306:3306"
    volumes:
      - ./docker-volumes/mysql:/var/lib/mysql